
/*
 * Academic Graph API
 *
 * Fetch paper and author data from the Semantic Scholar Academic Graph (S2AG).         <br><br>         Some things to note:         <ul>         <li>If you are using an API key, it must be set in the header <code>x-api-key</code> (case-sensitive).</li>         <li>We have two different IDs for a single paper:           <ul>             <li><code>paperId</code> - string - The primary way to identify papers when using our website or this API</li>             <li><code>corpusId</code> - int64 - A second way to identify papers. Our datasets use corpusId when pointing to papers.</li>           </ul>         </li>         <li>Other useful resources<ul>         <li><a href=\"https://www.semanticscholar.org/product/api\">Overview</a></li>         <li><a href=\"https://github.com/allenai/s2-folks/\">allenai/s2-folks</a></li>         <li><a href=\"https://github.com/allenai/s2-folks/blob/main/FAQ.md\">FAQ</a> in allenai/s2folks</li>         </ul></li>         
 *
 * API version: 1.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package swagger

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type AuthorDataApiService service
/*
AuthorDataApiService Details about an author
Examples: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns the author&#x27;s authorId and name.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101?fields&#x3D;aliases,papers&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns the author&#x27;s authorId, aliases, and list of papers.  &lt;/li&gt;         &lt;li&gt;Each paper has its paperId plus its title.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101?fields&#x3D;url,papers.abstract,papers.authors&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns the author&#x27;s authorId, url, and list of papers.  &lt;/li&gt;         &lt;li&gt;Each paper has its paperId, abstract, and list of authors.&lt;/li&gt;         &lt;li&gt;In that list of authors, each author has their authorId and name.&lt;/li&gt;     &lt;/ul&gt;     &lt;br&gt;     Limitations:     &lt;ul&gt;         &lt;li&gt;Can only return up to 10 MB of data at a time.&lt;/li&gt;     &lt;/ul&gt; &lt;/ul&gt;
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param authorId
 * @param optional nil or *AuthorDataApiGetGraphGetAuthorOpts - Optional Parameters:
     * @param "Fields" (optional.String) -  A comma-separated list of the fields to be returned.&lt;br&gt;&lt;br&gt;  The following case-sensitive author fields are recognized: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;authorId&lt;/code&gt; - S2 unique ID for this author&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt; - ORCID/DBLP IDs for this author, if known&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;name&lt;/code&gt; - Author&#x27;s name&lt;/li&gt; &lt;li&gt;&lt;code&gt;aliases&lt;/code&gt; - List of names the author has used on publications over time, not intended to be displayed     to users. WARNING: this list may be out of date or contain deadnames of authors who have     changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)&lt;/li&gt; &lt;li&gt;&lt;code&gt;affiliations&lt;/code&gt; - Author&#x27;s affiliations - sourced from claimed authors who have set affiliation on their S2 author page.&lt;/li&gt; &lt;li&gt;&lt;code&gt;homepage&lt;/code&gt; - Author&#x27;s homepage&lt;/li&gt; &lt;li&gt;&lt;code&gt;paperCount&lt;/code&gt; - Author&#x27;s total publications count&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Author&#x27;s total citations count&lt;/li&gt; &lt;li&gt;&lt;code&gt;hIndex&lt;/code&gt; - See the S2 &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#h-index\&quot;&gt;FAQ&lt;/a&gt; on h-index&lt;/li&gt;     &lt;li&gt;&lt;code&gt;papers&lt;/code&gt;         &lt;ul&gt;             &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt;IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI&lt;/li&gt; &lt;li&gt;&lt;code&gt;abstract&lt;/code&gt; - The paper&#x27;s abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website&lt;/li&gt; &lt;li&gt;&lt;code&gt;referenceCount&lt;/code&gt; - Total number of papers referenced by this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Total number of citations S2 has found for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;influentialCitationCount&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#influential-citations\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;isOpenAccess&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.openaccess.nl/en/what-is-open-access\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;openAccessPdf&lt;/code&gt; - A link to the paper if it is open access, and we have a direct link to the pdf&lt;/li&gt; &lt;li&gt;&lt;code&gt;fieldsOfStudy&lt;/code&gt; - A list of high-level academic categories from external sources&lt;/li&gt; &lt;li&gt;&lt;code&gt;s2FieldsOfStudy&lt;/code&gt; - A list of academic categories, sourced from either external sources or our internally developed &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study\&quot;&gt;classifier&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationTypes&lt;/code&gt; - Journal Article, Conference, Review, etc&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationDate&lt;/code&gt; - YYYY-MM-DD, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;journal&lt;/code&gt; - Journal name, volume, and pages, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationStyles&lt;/code&gt; - Generates bibliographical citation of paper. Currently supported styles: BibTeX&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt; &lt;/ul&gt;
@return AuthorWithPapers
*/

type AuthorDataApiGetGraphGetAuthorOpts struct {
    Fields optional.String
}

func (a *AuthorDataApiService) GetGraphGetAuthor(ctx context.Context, authorId string, localVarOptionals *AuthorDataApiGetGraphGetAuthorOpts) (AuthorWithPapers, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue AuthorWithPapers
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/author/{author_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"author_id"+"}", fmt.Sprintf("%v", authorId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 404 {
			var v Error404
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v Error400
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v AuthorWithPapers
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
AuthorDataApiService Details about an author&#x27;s papers
Fetch the papers of an author in batches.&lt;br&gt; Only retrieves the most recent 10,000 citations/references for papers belonging to the batch.&lt;br&gt; To retrieve the full set of citations for a paper, use the /paper/{paper_id}/citations endpoint &lt;br&gt;&lt;br&gt; Examples: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101/papers&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Return with offset&#x3D;0, and data is a list of the first 100 papers.&lt;/li&gt;         &lt;li&gt;Each paper has its paperId and title.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101/papers?fields&#x3D;url,year,authors&amp;limit&#x3D;2&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns with offset&#x3D;0, next&#x3D;2, and data is a list of 2 papers.&lt;/li&gt;         &lt;li&gt;Each paper has its paperId, url, year, and list of authors.&lt;/li&gt;         &lt;li&gt;Each author has their authorId and name.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/1741101/papers?fields&#x3D;citations.authors&amp;offset&#x3D;260&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns with offset&#x3D;260, and data is a list of the last 4 papers.&lt;/li&gt;         &lt;li&gt;Each paper has its paperId and a list of citations.&lt;/li&gt;         &lt;li&gt;Each citation has its paperId and a list of authors.&lt;/li&gt;         &lt;li&gt;Each author has their authorId and name.&lt;/li&gt;     &lt;/ul&gt; &lt;/ul&gt;
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param authorId
 * @param optional nil or *AuthorDataApiGetGraphGetAuthorPapersOpts - Optional Parameters:
     * @param "Offset" (optional.Int32) -  When returning a list of results, start with the element at this position in the list.
     * @param "Limit" (optional.Int32) -  The maximum number of results to return.&lt;br&gt; Must be &lt;&#x3D; 1000
     * @param "Fields" (optional.String) -  A comma-separated list of the fields to be returned.&lt;br&gt;&lt;br&gt;  The following case-sensitive paper fields are recognized: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt;IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI&lt;/li&gt; &lt;li&gt;&lt;code&gt;abstract&lt;/code&gt; - The paper&#x27;s abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website&lt;/li&gt; &lt;li&gt;&lt;code&gt;referenceCount&lt;/code&gt; - Total number of papers referenced by this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Total number of citations S2 has found for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;influentialCitationCount&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#influential-citations\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;isOpenAccess&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.openaccess.nl/en/what-is-open-access\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;openAccessPdf&lt;/code&gt; - A link to the paper if it is open access, and we have a direct link to the pdf&lt;/li&gt; &lt;li&gt;&lt;code&gt;fieldsOfStudy&lt;/code&gt; - A list of high-level academic categories from external sources&lt;/li&gt; &lt;li&gt;&lt;code&gt;s2FieldsOfStudy&lt;/code&gt; - A list of academic categories, sourced from either external sources or our internally developed &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study\&quot;&gt;classifier&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationTypes&lt;/code&gt; - Journal Article, Conference, Review, etc&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationDate&lt;/code&gt; - YYYY-MM-DD, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;journal&lt;/code&gt; - Journal name, volume, and pages, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationStyles&lt;/code&gt; - Generates bibliographical citation of paper. Currently supported styles: BibTeX&lt;/li&gt;     &lt;li&gt;&lt;code&gt;citations&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt;         &lt;li&gt;Total number of citations will be truncated at 10,000 for the entire batch.&lt;/li&gt;         &lt;li&gt;To fetch more citations per paper, reduce the number of papers in the batch with &lt;code&gt;limit&#x3D;&lt;/code&gt; or use the &lt;code&gt;/paper/{paper_id}/citations&lt;/code&gt; endpoint.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;references&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt;         &lt;li&gt;Same fields supported as for papers above&lt;/li&gt;         &lt;li&gt;Total number of references will be truncated at 10,000 for the entire batch.&lt;/li&gt;         &lt;li&gt;To fetch more references per paper, reduce the number of papers in the batch with &lt;code&gt;limit&#x3D;&lt;/code&gt; or use the &lt;code&gt;/paper/{paper_id}/references&lt;/code&gt; endpoint.&lt;/li&gt;     &lt;/ul&gt; &lt;/ul&gt;   
@return PaperBatch
*/

type AuthorDataApiGetGraphGetAuthorPapersOpts struct {
    Offset optional.Int32
    Limit optional.Int32
    Fields optional.String
}

func (a *AuthorDataApiService) GetGraphGetAuthorPapers(ctx context.Context, authorId string, localVarOptionals *AuthorDataApiGetGraphGetAuthorPapersOpts) (PaperBatch, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue PaperBatch
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/author/{author_id}/papers"
	localVarPath = strings.Replace(localVarPath, "{"+"author_id"+"}", fmt.Sprintf("%v", authorId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 404 {
			var v Error404
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v Error400
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v PaperBatch
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
AuthorDataApiService Search for authors by name
Examples: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/search?query&#x3D;adam+smith&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns with total&#x3D;490, offset&#x3D;0, next&#x3D;100, and data is a list of 100 authors.&lt;/li&gt;         &lt;li&gt;Each author has their authorId and name. &lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/search?query&#x3D;adam+smith&amp;fields&#x3D;name,aliases,url,papers.title,papers.year&amp;limit&#x3D;5&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns with total&#x3D;490, offset&#x3D;0, next&#x3D;5, and data is a list of 5 authors.&lt;/li&gt;         &lt;li&gt;Each author has authorId, name, aliases, url, and a list of their papers title and year.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/search?query&#x3D;totalGarbageNonsense&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;Returns with total &#x3D; 0, offset&#x3D;0, and data is a list of 0 author.&lt;/li&gt;     &lt;/ul&gt;     &lt;br&gt;     Limitations: &lt;ul&gt;     &lt;li&gt;Can only return up to 10 MB of data at a time.&lt;/li&gt; &lt;/ul&gt;
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param query A plain-text search query string. * No special query syntax is supported. * Hyphenated query terms yield no matches (replace it with space to find matches)  Specifying &lt;code&gt;papers&lt;/code&gt; fields in the request will return all papers linked to each author in the results, set a &lt;code&gt;limit&lt;/code&gt; on the search results to reduce output size and latency.
 * @param optional nil or *AuthorDataApiGetGraphGetAuthorSearchOpts - Optional Parameters:
     * @param "Offset" (optional.Int32) -  When returning a list of results, start with the element at this position in the list.
     * @param "Limit" (optional.Int32) -  The maximum number of results to return.&lt;br&gt; Must be &lt;&#x3D; 1000
     * @param "Fields" (optional.String) -  A comma-separated list of the fields to be returned.&lt;br&gt;&lt;br&gt;  The following case-sensitive author fields are recognized: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;authorId&lt;/code&gt; - S2 unique ID for this author&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt; - ORCID/DBLP IDs for this author, if known&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;name&lt;/code&gt; - Author&#x27;s name&lt;/li&gt; &lt;li&gt;&lt;code&gt;aliases&lt;/code&gt; - List of names the author has used on publications over time, not intended to be displayed     to users. WARNING: this list may be out of date or contain deadnames of authors who have     changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)&lt;/li&gt; &lt;li&gt;&lt;code&gt;affiliations&lt;/code&gt; - Author&#x27;s affiliations - sourced from claimed authors who have set affiliation on their S2 author page.&lt;/li&gt; &lt;li&gt;&lt;code&gt;homepage&lt;/code&gt; - Author&#x27;s homepage&lt;/li&gt; &lt;li&gt;&lt;code&gt;paperCount&lt;/code&gt; - Author&#x27;s total publications count&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Author&#x27;s total citations count&lt;/li&gt; &lt;li&gt;&lt;code&gt;hIndex&lt;/code&gt; - See the S2 &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#h-index\&quot;&gt;FAQ&lt;/a&gt; on h-index&lt;/li&gt;     &lt;li&gt;&lt;code&gt;papers&lt;/code&gt;         &lt;ul&gt;             &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt;IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI&lt;/li&gt; &lt;li&gt;&lt;code&gt;abstract&lt;/code&gt; - The paper&#x27;s abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website&lt;/li&gt; &lt;li&gt;&lt;code&gt;referenceCount&lt;/code&gt; - Total number of papers referenced by this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Total number of citations S2 has found for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;influentialCitationCount&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#influential-citations\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;isOpenAccess&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.openaccess.nl/en/what-is-open-access\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;openAccessPdf&lt;/code&gt; - A link to the paper if it is open access, and we have a direct link to the pdf&lt;/li&gt; &lt;li&gt;&lt;code&gt;fieldsOfStudy&lt;/code&gt; - A list of high-level academic categories from external sources&lt;/li&gt; &lt;li&gt;&lt;code&gt;s2FieldsOfStudy&lt;/code&gt; - A list of academic categories, sourced from either external sources or our internally developed &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study\&quot;&gt;classifier&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationTypes&lt;/code&gt; - Journal Article, Conference, Review, etc&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationDate&lt;/code&gt; - YYYY-MM-DD, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;journal&lt;/code&gt; - Journal name, volume, and pages, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationStyles&lt;/code&gt; - Generates bibliographical citation of paper. Currently supported styles: BibTeX&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt; &lt;/ul&gt;
@return AuthorSearchBatch
*/

type AuthorDataApiGetGraphGetAuthorSearchOpts struct {
    Offset optional.Int32
    Limit optional.Int32
    Fields optional.String
}

func (a *AuthorDataApiService) GetGraphGetAuthorSearch(ctx context.Context, query string, localVarOptionals *AuthorDataApiGetGraphGetAuthorSearchOpts) (AuthorSearchBatch, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue AuthorSearchBatch
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/author/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), ""))
	}
	localVarQueryParams.Add("query", parameterToString(query, ""))
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v Error400
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v AuthorSearchBatch
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
AuthorDataApiService Get details for multiple authors at once
* Fields is a single-value string parameter, not a multi-value one. * It is a query parameter, not to be submitted in the POST request&#x27;s body.  In python:      r &#x3D; requests.post(         &#x27;https://api.semanticscholar.org/graph/v1/author/batch&#x27;,         params&#x3D;{&#x27;fields&#x27;: &#x27;name,hIndex,citationCount&#x27;},         json&#x3D;{\&quot;ids\&quot;:[\&quot;1741101\&quot;, \&quot;1780531\&quot;]}     )     print(json.dumps(r.json(), indent&#x3D;2))      [       {         \&quot;authorId\&quot;: \&quot;1741101\&quot;,         \&quot;name\&quot;: \&quot;Oren Etzioni\&quot;,         \&quot;citationCount\&quot;: 34803,         \&quot;hIndex\&quot;: 86       },       {         \&quot;authorId\&quot;: \&quot;1780531\&quot;,         \&quot;name\&quot;: \&quot;Daniel S. Weld\&quot;,         \&quot;citationCount\&quot;: 35526,         \&quot;hIndex\&quot;: 89       }     ]  Other Examples: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/batch&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;&lt;code&gt;{\&quot;ids\&quot;:[\&quot;1741101\&quot;, \&quot;1780531\&quot;, \&quot;48323507\&quot;]}&lt;/code&gt;&lt;/li&gt;         &lt;li&gt;Returns details for 3 authors.&lt;/li&gt;         &lt;li&gt;Each author returns the field authorId and name if no other fields are specified.&lt;/li&gt;     &lt;/ul&gt;     &lt;li&gt;&lt;code&gt;https://api.semanticscholar.org/graph/v1/author/batch?fields&#x3D;url,name,paperCount,papers,papers.title,papers.openAccessPdf&lt;/code&gt;&lt;/li&gt;     &lt;ul&gt;         &lt;li&gt;&lt;code&gt;{\&quot;ids\&quot;:[\&quot;1741101\&quot;, \&quot;1780531\&quot;, \&quot;48323507\&quot;]}&lt;/code&gt;&lt;/li&gt;         &lt;li&gt;Returns authorID, url, name, paperCount, and list of papers for 3 authors.&lt;/li&gt;         &lt;li&gt;Each paper has its paperID, title, and link if available.&lt;/li&gt;     &lt;/ul&gt; &lt;/ul&gt; &lt;br&gt; Limitations: &lt;ul&gt;     &lt;li&gt;Can only process 1,000 author ids at a time.&lt;/li&gt;     &lt;li&gt;Can only return up to 10 MB of data at a time.&lt;/li&gt; &lt;/ul&gt;
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param optional nil or *AuthorDataApiPostGraphGetAuthorsOpts - Optional Parameters:
     * @param "Fields" (optional.String) -  A comma-separated list of the fields to be returned.&lt;br&gt;&lt;br&gt;  The following case-sensitive author fields are recognized: &lt;ul&gt;     &lt;li&gt;&lt;code&gt;authorId&lt;/code&gt; - S2 unique ID for this author&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt; - ORCID/DBLP IDs for this author, if known&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;name&lt;/code&gt; - Author&#x27;s name&lt;/li&gt; &lt;li&gt;&lt;code&gt;aliases&lt;/code&gt; - List of names the author has used on publications over time, not intended to be displayed     to users. WARNING: this list may be out of date or contain deadnames of authors who have     changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)&lt;/li&gt; &lt;li&gt;&lt;code&gt;affiliations&lt;/code&gt; - Author&#x27;s affiliations - sourced from claimed authors who have set affiliation on their S2 author page.&lt;/li&gt; &lt;li&gt;&lt;code&gt;homepage&lt;/code&gt; - Author&#x27;s homepage&lt;/li&gt; &lt;li&gt;&lt;code&gt;paperCount&lt;/code&gt; - Author&#x27;s total publications count&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Author&#x27;s total citations count&lt;/li&gt; &lt;li&gt;&lt;code&gt;hIndex&lt;/code&gt; - See the S2 &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#h-index\&quot;&gt;FAQ&lt;/a&gt; on h-index&lt;/li&gt;     &lt;li&gt;&lt;code&gt;papers&lt;/code&gt;         &lt;ul&gt;             &lt;li&gt;&lt;code&gt;paperId&lt;/code&gt; - Always included. A unique (string) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;corpusId&lt;/code&gt; - A second unique (numeric) identifier for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;url&lt;/code&gt; - URL on the Semantic Scholar website&lt;/li&gt; &lt;li&gt;&lt;code&gt;title&lt;/code&gt; - Included if no fields are specified&lt;/li&gt; &lt;li&gt;&lt;code&gt;venue&lt;/code&gt; - Normalized venue name&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationVenue&lt;/code&gt; - Publication venue meta-data for the paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;year&lt;/code&gt; - Year of publication&lt;/li&gt; &lt;li&gt;&lt;code&gt;authors&lt;/code&gt; - Up to 500 will be returned.  Will include: &lt;code&gt;authorId&lt;/code&gt; &amp; &lt;code&gt;name&lt;/code&gt;&lt;/li&gt; &lt;li&gt;To get more detailed information about an author&#x27;s papers, use the &lt;code&gt;/author/{author_id}/papers&lt;/code&gt; endpoint&lt;/li&gt; &lt;li&gt;&lt;code&gt;externalIds&lt;/code&gt;IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI&lt;/li&gt; &lt;li&gt;&lt;code&gt;abstract&lt;/code&gt; - The paper&#x27;s abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website&lt;/li&gt; &lt;li&gt;&lt;code&gt;referenceCount&lt;/code&gt; - Total number of papers referenced by this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationCount&lt;/code&gt; - Total number of citations S2 has found for this paper&lt;/li&gt; &lt;li&gt;&lt;code&gt;influentialCitationCount&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#influential-citations\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;isOpenAccess&lt;/code&gt; - More information &lt;a href&#x3D;\&quot;https://www.openaccess.nl/en/what-is-open-access\&quot;&gt;here&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;openAccessPdf&lt;/code&gt; - A link to the paper if it is open access, and we have a direct link to the pdf&lt;/li&gt; &lt;li&gt;&lt;code&gt;fieldsOfStudy&lt;/code&gt; - A list of high-level academic categories from external sources&lt;/li&gt; &lt;li&gt;&lt;code&gt;s2FieldsOfStudy&lt;/code&gt; - A list of academic categories, sourced from either external sources or our internally developed &lt;a href&#x3D;\&quot;https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study\&quot;&gt;classifier&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationTypes&lt;/code&gt; - Journal Article, Conference, Review, etc&lt;/li&gt; &lt;li&gt;&lt;code&gt;publicationDate&lt;/code&gt; - YYYY-MM-DD, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;journal&lt;/code&gt; - Journal name, volume, and pages, if available&lt;/li&gt; &lt;li&gt;&lt;code&gt;citationStyles&lt;/code&gt; - Generates bibliographical citation of paper. Currently supported styles: BibTeX&lt;/li&gt;         &lt;/ul&gt;     &lt;/li&gt; &lt;/ul&gt;
@return AuthorWithPapers
*/

type AuthorDataApiPostGraphGetAuthorsOpts struct {
    Fields optional.String
}

func (a *AuthorDataApiService) PostGraphGetAuthors(ctx context.Context, body AuthorBatchRequest, localVarOptionals *AuthorDataApiPostGraphGetAuthorsOpts) (AuthorWithPapers, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue AuthorWithPapers
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/author/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v Error400
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v AuthorWithPapers
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
